@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

p,
input,
button {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #008cba;
}

button:hover {
  background-color: #008cba;
  color: white;
}
